@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
.alldiv{
  color: rgb(151, 138, 138);
  font-size: medium;
  background-color: rgba(242,242,242,255);
  letter-spacing: 0.03em;
  font-weight: 600;
  line-height:normal;
}
.tcolor{
  color: rgb(230, 235, 235);
}
.db{
  color: #2f576d;
}
.lb{
  color: rgba(25,174,194,255);
}
.blb{
  background-color:rgba(25,174,194,255) ;
}
.w-100 {
  width: 50%!important;
}
.b-dash{
  border-right-style: dashed ; 
}
.fs{
 font-size:3em; 
}